<ion-header>
  <ion-toolbar class="new-background-color">
        <img class="header-icon" src="../../assets/imgs/logo.svg"> 
        <ion-title class="header-title">MY ADDRESS</ion-title>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="goBack()">
        <ion-icon class="header-arrow" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="address-content">
  <div class="text-right">
    <ion-button class="btn-view" (click)="editAddress()">
      Edit
    </ion-button>
  </div>
  <ion-card class="address-Card">
    <h2> Billing Address</h2>
    <ion-label>{{billingAddressFirstName }} {{billingAddressLastName}}</ion-label><br>
    <ion-card-content class="content-Card">
        <!-- <div *ngIf="billCompanyName !== null">
            <h2>Company: <span class="content-Card h2 span">{{billCompanyName}}</span></h2>
        </div> -->
        <div *ngIf="billAddress1 !== null">
            <h2>Address 1: <span class="content-Card h2 span">{{billAddress1}}</span></h2>
        </div>
        <div *ngIf="billAddress2 !== null">
            <h2>Address 2: <span class="content-Card h2 span">{{billAddress2}}</span></h2>
        </div>
        <div *ngIf="billCity !== null">
            <h2>City: <span class="content-Card h2 span">{{billCity}}</span></h2>
        </div>
        <div *ngIf="billPostCode !== 'null'">
            <h2>Post Code: <span class="content-Card h2 span">{{billPostCode}}</span></h2>
        </div>
        <div *ngIf="billCountry !== 'null'">
            <h2>Country: <span class="content-Card h2 span">{{billCountry}}</span></h2>
        </div>
        <div *ngIf="billPhone !== 'null'">
            <h2>Phone: <span class="content-Card h2 span">{{billPhone}}</span></h2>
        </div>
        <div *ngIf="billEmail !== 'null'">
            <h2>Email: <span class="content-Card h2 span">{{billEmail}}</span></h2>
        </div>
    </ion-card-content>
  </ion-card>
  <ion-card class="address-Card">
    <h2> Shipping Address</h2>
    <ion-label>{{shippingAddressFirstName }} {{shippingAddressLastName}}</ion-label><br>
    <ion-card-content class="content-Card">
        <!-- <div *ngIf="shipCompanyName !== null">
            <h2>Company: <span class="content-Card h2 span">{{shipCompanyName}}</span></h2>
        </div> -->
        <div *ngIf="shipAddress1 !== null ">
            <h2>Address 1: <span class="content-Card h2 span">{{shipAddress1}}</span></h2>
        </div>
        <div *ngIf="shipAddress2 !== null">
            <h2>Address 2: <span class="content-Card h2 span">{{shipAddress2}}</span></h2>{{shipAddress2}}
        </div>
        <div *ngIf="shipCity !== null">
            <h2>City: <span class="content-Card h2 span">{{shipCity}}</span></h2>
        </div>
        <div *ngIf="shipPostCode !== null">
            <h2>Post Code: <span class="content-Card h2 span">{{shipPostCode}}</span></h2>
        </div>
        <div *ngIf="shipCountry !== null">
            <h2>Country: <span class="content-Card h2 span">{{shipCountry}}</span></h2>
        </div>
        <div *ngIf="shipPhone !== null">
            <h2>Phone: <span class="content-Card h2 span">{{shipPhone}}</span></h2>
        </div>
        <div *ngIf="shipEmail !== null">
            <h2>Email: <span class="content-Card h2 span">{{shipEmail}}</span></h2>
        </div>
    </ion-card-content>
  </ion-card>
</ion-content>