.new-background-color {
    --background: #b31117;
}

.header-title {
    color: #fff;
    text-align: center
}

.badge-color {
    --background: #b31117;
    color: white;
}
.header-arrow{

    color: white;
}

.header-icon {
    background: white;
    height: 30px;
    width: auto;
    position: relative;
    border-radius: 5px;
    margin-left: 20px;
}

.title-md {
    left: 0;
    top: 0;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: -.03em;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    pointer-events: none;
}
.address-content{
    background: #f4f8fc;
    --background: var(--ion-background-color,#f4f8fc);
}
.address-Card{
    box-shadow: none;
    background :#ffffff;
    padding: 15px;
    -webkit-margin-start: 0;
    margin-inline-start: 0;
    -webkit-margin-end: 0;
    margin-inline-end: 0;
}
.address-Card h2{
    font-size: 18px;
    font-weight:600;
    padding-top: 0;
    margin-top:0;
    color: #000000;

}

.content-Card{
    padding: 0px 0 0 0;
    margin-top:0;
    color:#000000;
    font-weight:250;
    font-size: 13px;
}
.btn-view{    color: #fff;
    font-weight: bold;
    font-size: 14px;
    --border-radius: 2px;
    display: inline-block;
    margin: 0;
    height: auto;
    --padding-top: 15px;
    --padding-bottom: 15px;
    --padding-start: 30px;
    --padding-end: 30px;
    --background: #b31117;
    --background-activated:#b31117;
  }
  .text-right{
      text-align: right;
  }
  .content-Card h2 {
    font-size: 12px;
    font-weight: 600;
    padding-top: 0;
    margin-top: 0;
    color: #000000;
  }
  .address-Card ion-label{
    font-size: 15px;
    font-weight: 600;
    color: #003a54;
  }
  .content-Card h2 span {
    font-weight: 400;
    font-size: 14px;
  }
