<ion-header>
  <ion-toolbar class="new-background-color">
      <img class="header-icon" src="../../assets/imgs/logo.svg"> 
      <ion-title class="header-title">{{title}}</ion-title>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="goBack()">
        <ion-icon class="back-arrow" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content">
  <!-- <div *ngIf="subCategoryArray && subCategoryArray.length " class="container">
      <div class="category-scroll" scrollX="true">
        <span class="category-span"
          *ngFor="let subCategory of subCategoryArray" (click)="filterProduct(subCategory.slug)">{{subCategory.name}}</span>
      </div>
    </div> -->
  <ion-grid>
       <ion-row>
         <ion-col size="6" *ngFor="let products of allProductsArray">
              <ion-card class="product-card">
                <div *ngIf="products.post_image_url === ''; else placeholder">
                  <ion-card-content class="product-card-media">
                    <img (click)="goToProductDetail(products.post_slug)"  src="../../assets/imgs/icon.png">
                  </ion-card-content>
                </div>
                <ng-template #placeholder>
                  <ion-card-content class="product-card-media" >
                      <img (click)="goToProductDetail(products.post_slug)"  src="https://www.niletechinnovations.com/eq8tor{{products.post_image_url}}">
                  </ion-card-content>
                </ng-template>
              </ion-card>
              <ion-card-content class="product-content">
                  <h2 class="product-title">
                      {{products.post_title}}
                  </h2>
                  <!-- <div *ngIf="products._rating === 0">
                      <div class="star-rating">
                        <span style="width:0%"></span>
                      </div>
                    </div>
                    <div *ngIf="products._rating > 0 && products._rating < 10">
                      <div class="star-rating">
                        <span style="width:6%"></span>
                      </div>
                    </div>
                    <div *ngIf="products._rating === 10">
                      <div class="star-rating">
                        <span style="width:10%"></span>
                      </div>
                    </div>
                    <div *ngIf="products._rating > 10 && products._rating < 20">
                      <div class="star-rating">
                        <span style="width:16%"></span>
                      </div>
                    </div>
                    <div *ngIf="products._rating === 20">
                      <div class="star-rating">
                        <span style="width:20%"></span>
                      </div>
                    </div>
                    <div *ngIf="products._rating > 20 && products._rating < 30">
                      <div class="star-rating">
                        <span style="width:26%"></span>
                      </div>
                    </div>
                    <div *ngIf="products._rating === 30">
                      <div class="star-rating">
                        <span style="width:30%"></span>
                      </div>
                    </div>
                    <div *ngIf="products._rating > 30 && products._rating < 40">
                      <div class="star-rating">
                        <span style="width:36%"></span>
                      </div>
                    </div>
                    <div *ngIf="products._rating === 40">
                      <div class="star-rating">
                        <span style="width:40%"></span>
                      </div>
                    </div>
                    <div *ngIf="products._rating > 40 && products._rating < 50">
                      <div class="star-rating">
                        <span style="width:46%"></span>
                      </div>
                    </div>
                    <div *ngIf="products._rating === 50">
                      <div class="star-rating">
                        <span style="width:50%"></span>
                      </div>
                    </div>
                    <div *ngIf="products._rating > 50 && products._rating < 60">
                      <div class="star-rating">
                        <span style="width:56%"></span>
                      </div>
                    </div>
                    <div *ngIf="products._rating === 60">
                      <div class="star-rating">
                        <span style="width:60%"></span>
                      </div>
                    </div>
                    <div *ngIf="products._rating > 60 && products._rating < 70">
                      <div class="star-rating">
                        <span style="width:66%"></span>
                      </div>
                    </div>
                    <div *ngIf="products._rating === 70">
                      <div class="star-rating">
                        <span style="width:70%"></span>
                      </div>
                    </div>
                    <div *ngIf="products._rating > 70 && products._rating < 80">
                      <div class="star-rating">
                        <span style="width:76%"></span>
                      </div>
                    </div>
                    <div *ngIf="products._rating === 80">
                      <div class="star-rating">
                        <span style="width:80%"></span>
                      </div>
                    </div>
                    <div *ngIf="products._rating > 80 && products._rating < 90">
                      <div class="star-rating">
                        <span style="width:86%"></span>
                      </div>
                    </div>
                    <div *ngIf="products._rating === 90">
                      <div class="star-rating">
                        <span style="width:90%"></span>
                      </div>
                    </div>
                    <div *ngIf="products._rating > 90 && products._rating < 100">
                      <div class="star-rating">
                        <span style="width:96%"></span>
                      </div>
                    </div>
                    <div *ngIf="products._rating === 100">
                      <div class="star-rating">
                        <span style="width:100%"></span>
                      </div>
                    </div> -->
                    <div *ngIf="products.post_type === 'simple_product' " class="product-price">
                        <span>{{products.post_price | currency:'USD':'symbol'}}</span>
                      </div>
                      <div *ngIf="products.post_type === 'configurable_product'" class="product-price">
                        <div *ngFor="let variation of products.product_variations; let i = index">
                          <span *ngIf="i == 0">{{variation._variation_post_price | currency:'USD':'symbol'}}</span>
                        </div>
                      </div>  
              </ion-card-content>
         </ion-col>
       </ion-row>
   </ion-grid>
 </ion-content>

