<ion-header>
  <ion-toolbar class="new-background-color">
      <img class="header-icon" src="../../assets/imgs/logo.svg"> 
      <ion-title class="header-title">Wishlist</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button style="color: white" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openCart()">
        <ion-badge class="badge-color" *ngIf="cart.length > 0">{{ totalCount }}</ion-badge>
        <ion-icon slot="icon-only" name="cart" style="color: white"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content">
  <ion-list class="cart-item-content">
    <ion-item class="cart-item-info" *ngFor="let products of wishListProductsArray">
      <ion-row class="cart-item-grid">
        <ion-col size="3">
          <div class="cart-item-info-media">
            <img src="{{products.image_url}}">
          </div>
        </ion-col>
        <ion-col size="9">
          <div class="cart-item-info-content">
            <h2>{{products.slug}}</h2>
            <h4>${{products.price}}</h4>
            <!-- <div *ngIf="products.rating === 0">
              <div class="star-rating">
                <span style="width:0%"></span>
              </div>
            </div>
            <div *ngIf="products.rating > 0 && products.rating < 10">
              <div class="star-rating">
                <span style="width:6%"></span>
              </div>
            </div>
            <div *ngIf="products.rating === 10">
              <div class="star-rating">
                <span style="width:10%"></span>
              </div>
            </div>
            <div *ngIf="products.rating > 10 && products.rating < 20">
              <div class="star-rating">
                <span style="width:16%"></span>
              </div>
            </div>
            <div *ngIf="products.rating === 20">
              <div class="star-rating">
                <span style="width:20%"></span>
              </div>
            </div>
            <div *ngIf="products.rating > 20 && products.rating < 30">
              <div class="star-rating">
                <span style="width:26%"></span>
              </div>
            </div>
            <div *ngIf="products.rating === 30">
              <div class="star-rating">
                <span style="width:30%"></span>
              </div>
            </div>
            <div *ngIf="products.rating > 30 && products.rating < 40">
              <div class="star-rating">
                <span style="width:36%"></span>
              </div>
            </div>
            <div *ngIf="products.rating === 40">
              <div class="star-rating">
                <span style="width:30%"></span>
              </div>
            </div>
            <div *ngIf="products.rating > 40 && products.rating < 50">
              <div class="star-rating">
                <span style="width:46%"></span>
              </div>
            </div>
            <div *ngIf="products.rating === 50">
              <div class="star-rating">
                <span style="width:50%"></span>
              </div>
            </div>
            <div *ngIf="products.rating > 50 && products.rating < 60">
              <div class="star-rating">
                <span style="width:56%"></span>
              </div>
            </div>
            <div *ngIf="products.rating === 60">
              <div class="star-rating">
                <span style="width:60%"></span>
              </div>
            </div>
            <div *ngIf="products.rating > 60 && products.rating < 70">
              <div class="star-rating">
                <span style="width:66%"></span>
              </div>
            </div>
            <div *ngIf="products.rating === 70">
              <div class="star-rating">
                <span style="width:70%"></span>
              </div>
            </div>
            <div *ngIf="products.rating > 70 && products.rating < 80">
              <div class="star-rating">
                <span style="width:76%"></span>
              </div>
            </div>
            <div *ngIf="products.rating === 80">
              <div class="star-rating">
                <span style="width:80%"></span>
              </div>
            </div>
            <div *ngIf="products.rating > 80 && products.rating < 90">
              <div class="star-rating">
                <span style="width:86%"></span>
              </div>
            </div>
            <div *ngIf="products.rating === 90">
              <div class="star-rating">
                <span style="width:90%"></span>
              </div>
            </div>
            <div *ngIf="products.rating > 90 && products.rating < 100">
              <div class="star-rating">
                <span style="width:96%"></span>
              </div>
            </div>
            <div *ngIf="products.rating === 100">
              <div class="star-rating">
                <span style="width:100%"></span>
              </div>
            </div> -->
            <ion-button class="move-cart-btn" (click)="goToProductDetail(products)">
              Go to Details
            </ion-button>
            <ion-button class="move-cart-btn" (click)="removeAction(products)">
              Remove from Wishlist
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>