<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-label class="label">Welcome</ion-label>
  <div class="text">
    <p>Sign in to continue</p>
    <button class="signUp" ion-button (click)="goToSignUp()">SignUp</button>
  </div>
  <form [formGroup]="credentialsForm">
    <div class="view-form">
      <ion-item class="user-input" lines="none">
        <ion-input class="username form-control" placeholder="Username / Email Address" formControlName="email">
        </ion-input>
      </ion-item>
      <p class="validate-msg-alert"
        *ngIf="credentialsForm.controls.email.touched  && (!credentialsForm.controls.email.valid)">
        Please enter mandatory field
      </p>
      <ion-item class="password-input" lines="none">
        <ion-input class="password form-control" (keydown.space)="$event.preventDefault();" [type]="passwordType1" placeholder="Password"
          formControlName="password"></ion-input>
        <button class="showBtn" [name]="passwordIcon" item-right (click)='hideShowPassword()'>{{passwordIcon}}</button>
      </ion-item>
      <ion-item class="submit-btn" lines="none ">
        <ion-button class="Login" type="submit" [disabled]="!credentialsForm.valid" (click)="onFormSubmit(credentialsForm.value)">Login</ion-button>
      </ion-item>
    </div>
  </form>
  <div>
    <!-- <ion-button class="Login" (click)='login()' expand="block">Login</ion-button> -->
    <button ion-button class="forgot-password" (click)='presentAlertPrompt()'>Forgot Password?</button>
  </div>
</ion-content>