.new-background-color {
    --background: #b31117;
}

.header-title {
    color: #fff;
    text-align: center
}
.header-icon {
    background: white;
    height: 30px;
    width: auto;
    position: relative;
    border-radius: 5px;
    margin-left: 20px;
}
.title-md{
    left: 0;
    top: 0;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: -.03em;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    pointer-events: none;
}
.header-arrow{

    color: white;
}

.profile-content {
    background: #f4f8fc;
    --background: var(--ion-background-color, #f4f8fc);
}



.profile-card {
    --background: #fff;
    text-align: center;
    -webkit-margin-start: 0;
    margin-inline-start: 0;
    -webkit-margin-end: 0;
    margin-inline-end: 0;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: none;
}

.profile-media {
    margin: 0 auto 18px auto;
}

.profile h2 {
    color: #213051;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    padding: 5px 0;
}

.profile p {
    color: #213051;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 5px;
    padding: 5px 0;
}

.edit-btn {
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    --border-radius: 2px;
    display: inline-block;
    margin: 0 30px 0 0;
    height: auto;
    --padding-top: 8px;
    --padding-bottom: 8px;
    --padding-start: 15px;
    --padding-end: 15px;
    --background: #003a54;
    --background-activated:#003a54 ;

}

.input-form-control {
    border: 1px solid #d9e1e8;
    margin-bottom: 10px;
    color: #213051;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    padding: 10px;
    --padding-top: 10px;
    --padding-end: 8px;
    --padding-bottom: 10px;
    --padding-start: 0px;
}



.profile-links-card {
    border: 1px solid #d0d8e0;
    border-radius: 5px;
    padding: 15px 10px;
    position: relative;
}


button.showBtn {
    margin-right: 10px;
    background: #003a54;
    color: white;
    height: 20px;
    position: absolute;
    right: 5px;
    z-index: 9;
    font-weight: 500;
    border-radius: 2px;
    font-size: 12px;
}

ion-input.password {
    border: 0.5px solid gray;
    --padding-start: 10px;
}

.password-input {
    --inner-border-width: 0px 0px 0px 0px;
}
    .password-input  {
        --inner-border-width: 0px 0px 0px 0px;
        margin-right: 0px;
        margin-bottom: 8px;
        --padding-start: 0px;
        --inner-padding-end: 0px;
        --border-color: #fff;
        --padding-end: 0;
    }
    .password-input .item-highlight {
        background:transparent !important;
    }

    