<ion-header>
  <ion-toolbar class="new-background-color">
      <img class="header-icon" src="../../assets/imgs/logo.svg"> 
      <ion-title class="header-title">Change Password</ion-title>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="goBack()">
        <ion-icon class="header-arrow" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="profile-card">
      <ion-card-content class="profile-card-content">
        <div class="profile">
         
          <ion-item class="password-input" lines="none">
            <ion-input class="password form-control" placeholder="New password" [type]="passwordType2" [(ngModel)]="password"></ion-input>
            <button class="showBtn" [name]="passwordIcon" item-right (click)='hideShowPassword1()'>{{passwordIcon1}}</button>
          </ion-item>
          <ion-item class="password-input" lines="none">
          <ion-input class="password form-control" placeholder="Confirm password" [type]="passwordType1" [(ngModel)]="cpassword"></ion-input>  
          <button class="showBtn" [name]="passwordIcon" item-right (click)='hideShowPassword()'>{{passwordIcon}}</button>
        </ion-item>
      
          <ion-button class="edit-btn" (click)='editAction()'>Submit </ion-button>
          <ion-button class="edit-btn" (click)='goBack()'> Cancel </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
</ion-content>
