<ion-header>
    <ion-toolbar class="new-background-color">
        <img class="header-icon" src="../../assets/imgs/logo.svg"> 
      <ion-title class="header-title">Payment</ion-title>
      <ion-buttons slot="start">
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-grid>
      <ion-row>
        <!-- <ion-col text-center>
          ID : {{modelId}}
        </ion-col> -->
      </ion-row>
      <ion-row>
          <ion-col text-center>
                <ion-button class="btn-cancel"(click)="closeModal()">
                  Close
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
  </ion-content>