:host {
    ion-content.background {
        --background: url('../../assets/imgs/welcome.jpg') 0 0/100% 100% no-repeat;
    }
    .logo {
        margin-bottom: 3rem;
   
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .heading-title{margin-bottom: 3rem}
    .heading-title h1{
        font-size: 22px;
        margin: 0;
        padding: 0;
        font-weight: 700;
        color: #fff;
        text-align: center;
        line-height: 35px;
        font-family: 'Montserrat', sans-serif;
    }

    ion-button.loginBtn {
        --border-radius: 0px;
        margin-top: 0;
        margin-bottom:10px;
        height: 52px;
        --background:#b31117;
        color: white;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        --background-activated:var(--ion-color-shade,#b31117);
    }
    ion-button.SignUpBtn {
        --border-radius: 0px;
        margin-top: 0;
        margin-bottom:0;
        height: 52px;
        --background: white;
        color: black;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        --background-activated:var(--ion-color-shade,white);
    }
}

.home-screen-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}