<ion-content padding class="background">
  <div class="home-screen-content">
  <div class="logo">
      <img src="../../assets/imgs/logo.png" height="120px">
  </div>
  <div class="heading-title">
    <h1>
      Shop For Leading Brands
      <br>
     At Factory Pricing
    </h1>
  </div>
  <div >
    <ion-button routerLink="/login" class="loginBtn" expand="block">Login</ion-button>
  </div>
  <div>
    <ion-button routerLink="/signup" class="SignUpBtn" expand="block">Sign Up</ion-button>
  </div>
</div>
</ion-content>