.back-arrow {
  color: #fff;
}

.header-title {
  color: #fff;
  text-align: center
}

.new-background-color {
  --background: #b31117;
}

.address-card-check {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.checkbox-address{
  --background-checked:#b31117;
  --border-color-checked: #b31117;
}
.check-box-label {
  padding: 10px;
  font-size: 12px;
  --padding-top: 5px;
  --padding-end: 0;
  --padding-bottom: 12px;
  --padding-start: 1px !important;
  color: #000000;
}

.btn-view {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  --border-radius: 2px;
  display: inline-block;
  margin: 0;
  height: auto;
  --padding-top: 15px;
  --padding-bottom: 15px;
  --padding-start: 30px;
  --padding-end: 30px;
  --background: #b31117;
  --background-activated: #b31117;
}

.validate-msg-alert {
  color: #FF545E;
  font-size: 14px;
  text-align: left;
  padding: 0px 0;
  margin-bottom: 10px;
}

.heading-margin {
  padding-left: 15px;
}

.text-right {
  text-align: center;
}


.address-content {
  background: #f4f8fc;
  --background: var(--ion-background-color, #f4f8fc);
}

.address-card {
  padding: 10px;
  background: #fff;
  margin-bottom: 10px;
}

.form-control-input {
  border: 1px solid #eee;
  padding: 10px;
  font-size: 12px;
  border-radius: 2px;
  --padding-top: 12px;
  --padding-end: 0;
  --padding-bottom: 12px;
  --padding-start: 8px !important;
  color: #524e4e;
}

.form-control-select {
  border: 1px solid #eee;
  padding: 10px;
  font-size: 13px;
  border-radius: 2px;
  width: 100%;
  max-width: 100%;

}

.address-footer {
  padding: 10px 0;
}

.form-label-text {
  color: #213051;
  font-size: 14px;
  font-weight: 600;
}

.address-card h2 {
  font-size: 18px;
  font-weight: 600;
  padding-top: 0;
  margin-top: 0;
  color: #213051;
}

.input-form-item {
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  --padding-start: 0;
}



.address-Card {

  background: #ffffff;
  padding: 15px;
  -webkit-margin-start: 10px;
  margin-inline-start: 10px;
  -webkit-margin-end: 10px;
  margin-inline-end: 10px;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  -webkit-padding-end: 0;
  padding-inline-end: 0;
}

.profile-media {
  margin: 0 auto 18px auto;
}

.input-form-control {
  border-bottom: 1px solid #d9e1e8;
  margin-bottom: 10px;
  color: #213051;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  padding: 10px;
  --padding-top: 10px;
  --padding-end: 8px;
  --padding-bottom: 10px;
  --padding-start: 10px;
}