<ion-header>
    <ion-toolbar class="new-background-color">
        <ion-title class="header-title">Edit Your Address</ion-title>
        <ion-buttons slot="start">
            <ion-button color="dark" (click)="closeModal()">
                <ion-icon class="back-arrow" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding class="address-content">
    <div [formGroup]="editAddress" class="address-card">
        <h2> Billing Address</h2>
        <!-- <ion-item class="input-form-item" lines="none">
            <ion-input placeholder="Title" class="form-control-input" formControlName="account_bill_title"
                value="{{account_bill_title}}">
            </ion-input>
        </ion-item> -->
        <ion-item class="input-form-item" lines="none">
            <ion-input placeholder="First Name" class="form-control-input" formControlName="account_bill_first_name"
                value="{{account_bill_first_name}}"></ion-input>
        </ion-item>
        <p class="validate-msg-alert"
            *ngIf="editAddress.controls.account_bill_first_name.touched  && (!editAddress.controls.account_bill_first_name.valid)">
            Please enter mandatory field
        </p>
        <ion-item class="input-form-item" lines="none">
            <ion-input placeholder="Last Name" class="form-control-input" formControlName="account_bill_last_name"
                value="{{account_bill_last_name}}">
            </ion-input>
        </ion-item>
        <p class="validate-msg-alert"
            *ngIf="editAddress.controls.account_bill_last_name.touched  && (!editAddress.controls.account_bill_last_name.valid)">
            Please enter mandatory field
        </p>

        <!-- <ion-item class="input-form-item" lines="none">
            <ion-input placeholder="Company Name" class="form-control-input" formControlName="account_bill_company_name"
                value="{{account_bill_company_name}}"></ion-input>
        </ion-item>
        <p class="validate-msg-alert"
            *ngIf="editAddress.controls.account_bill_company_name.touched  && (!editAddress.controls.account_bill_company_name.valid)">
            Please enter mandatory field
        </p> -->
        <ion-item class="input-form-item" lines="none">
            <ion-input placeholder="Address" class="form-control-input" formControlName="account_bill_adddress_line_1"
                value="{{account_bill_adddress_line_1}}">
            </ion-input>
        </ion-item>
        <p class="validate-msg-alert"
            *ngIf="editAddress.controls.account_bill_adddress_line_1.touched  && (!editAddress.controls.account_bill_adddress_line_1.valid)">
            Please enter mandatory field
        </p>
        <ion-item class="input-form-item" lines="none">
            <ion-input placeholder="City" class="form-control-input" formControlName="account_bill_town_or_city"
                value="{{account_bill_town_or_city}}">
            </ion-input>
        </ion-item>
        <p class="validate-msg-alert"
            *ngIf="editAddress.controls.account_bill_town_or_city.touched  && (!editAddress.controls.account_bill_town_or_city.valid)">
            Please enter mandatory field
        </p>
        <ion-item class="input-form-item" lines="none">
            <ion-input placeholder="Post Code" class="form-control-input" [attr.maxlength]="7"
                formControlName="account_bill_zip_or_postal_code" value="{{account_bill_zip_or_postal_code}}">
            </ion-input>
        </ion-item>
        <p class="validate-msg-alert"
            *ngIf="editAddress.controls.account_bill_zip_or_postal_code.touched  && (!editAddress.controls.account_bill_zip_or_postal_code.valid)">
            Please enter mandatory field
        </p>
        <ion-item class="input-form-item" lines="none">
            <ion-select #S (ionChange)="FilterItems(S.value)" formControlName="account_bill_select_country"
                class="form-control-select">
                <ion-select-option *ngFor="let c of countryArray" value="{{c.code}}">{{c.name}} - {{c.code}}
                </ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item class="input-form-item" lines="none">
            <ion-input formControlName="account_bill_phone_number" class="form-control-input" type="tel" maxlength="12"
                placeholder="Phone" (keydown.space)="$event.preventDefault();" value="{{account_bill_phone_number}}">
            </ion-input>
        </ion-item>
        <p class="validate-msg-alert"
            *ngIf="editAddress.controls.account_bill_phone_number.touched  && (!editAddress.controls.account_bill_phone_number.valid)">
            Please enter mandatory field
        </p>
        <ion-item class="input-form-item" lines="none">
            <ion-input formControlName="account_bill_email_address" class="form-control-input" placeholder="Email"
                (keydown.space)="$event.preventDefault();" value="{{account_bill_email_address}}"
                pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})">
            </ion-input>
        </ion-item>
        <p class="validate-msg-alert"
            *ngIf="editAddress.controls.account_bill_email_address.touched  && (!editAddress.controls.account_bill_email_address.valid)">
            Please enter mandatory field
        </p>
    </div>
    <div class="address-card-check">
        <ion-item class="input-form-item" lines="none">
            <ion-label class="check-box-label">Shipping address same as billing address</ion-label>
            <ion-checkbox class="checkbox-address" [(ngModel)]="sameaddress" (ionChange)="updateSameaddress()"></ion-checkbox>
        </ion-item>
 
    </div>
    <div [formGroup]="editAddress" class="address-card">

        <h2> Shipping Address</h2>
        <!-- <ion-item class="input-form-item" lines="none">
            <ion-input formControlName="account_shipping_title" class="form-control-input" placeholder="Shipping Title"
                value="{{account_shipping_title}}"></ion-input>
        </ion-item> -->
        <ion-item class="input-form-item" lines="none">
            <ion-input formControlName="account_shipping_first_name" class="form-control-input" placeholder="First Name"
                value="{{account_shipping_first_name}}"></ion-input>
        </ion-item>
        <p class="validate-msg-alert"
            *ngIf="editAddress.controls.account_shipping_first_name.touched && (!editAddress.controls.account_shipping_first_name.valid)">
            Please enter mandatory field
        </p>

        <ion-item class="input-form-item" lines="none">
            <ion-input formControlName="account_shipping_last_name" class="form-control-input" placeholder="Last Name"
                value="{{account_shipping_last_name}}"></ion-input>
        </ion-item>
        <p class="validate-msg-alert"
            *ngIf="editAddress.controls.account_shipping_last_name.touched && (!editAddress.controls.account_shipping_last_name.valid)">
            Please enter mandatory field
        </p>
        <!-- <ion-item class="input-form-item" lines="none">
            <ion-input formControlName="account_shipping_company_name" class="form-control-input"
                placeholder="Company Name" value="{{account_shipping_company_name}}"></ion-input>
        </ion-item>
        <p class="validate-msg-alert"
            *ngIf="editAddress.controls.account_shipping_company_name.touched && (!editAddress.controls.account_shipping_company_name.valid)">
            Please enter mandatory field
        </p> -->


        <ion-item class="input-form-item" lines="none">
            <ion-input formControlName="account_shipping_adddress_line_1" class="form-control-input"
                placeholder="Address" value="{{account_shipping_adddress_line_1}}">
            </ion-input>
        </ion-item>
        <p class="validate-msg-alert"
            *ngIf="editAddress.controls.account_shipping_adddress_line_1.touched && (!editAddress.controls.account_shipping_adddress_line_1.valid)">
            Please enter mandatory field
        </p>
        <ion-item class="input-form-item" lines="none">
            <ion-input formControlName="account_shipping_town_or_city" class="form-control-input" placeholder="City"
                value="{{account_shipping_town_or_city}}">
            </ion-input>
        </ion-item>
        <p class="validate-msg-alert"
            *ngIf="editAddress.controls.account_shipping_town_or_city.touched  && (!editAddress.controls.account_shipping_town_or_city.valid)">
            Please enter mandatory field
        </p>

        <ion-item class="input-form-item" lines="none">
            <ion-input formControlName="account_shipping_zip_or_postal_code" class="form-control-input"
                placeholder="Postal Code" value="{{account_shipping_zip_or_postal_code}}">
            </ion-input>
        </ion-item>
        <p class="validate-msg-alert"
            *ngIf="editAddress.controls.account_shipping_zip_or_postal_code.touched  && (!editAddress.controls.account_shipping_zip_or_postal_code.valid)">
            Please enter mandatory field
        </p>
        <ion-item class="input-form-item" lines="none">
            <ion-select #B (ionChange)="FilterItemsShipping(B.value)" class="form-control-select"
                formControlName="account_shipping_select_country">
                <ion-select-option *ngFor="let c of countryArray" value="{{c.code}}">{{c.name}} - {{c.code}}
                </ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item class="input-form-item" lines="none">
            <ion-input formControlName="account_shipping_phone_number" class="form-control-input" type="tel"
                maxlength="12" placeholder="Phone" (keydown.space)="$event.preventDefault();"
                value="{{account_shipping_phone_number}}">
            </ion-input>
        </ion-item>
        <p class="validate-msg-alert"
            *ngIf="editAddress.controls.account_shipping_phone_number.touched  && (!editAddress.controls.account_shipping_phone_number.valid)">
            Please enter mandatory field
        </p>

        <ion-item class="input-form-item" lines="none">
            <ion-input formControlName="account_shipping_email_address" class="form-control-input"
                (keydown.space)="$event.preventDefault();" placeholder="Email"
                value="{{account_shipping_email_address}}"
                pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})">
            </ion-input>
        </ion-item>
        <p class="validate-msg-alert"
            *ngIf="editAddress.controls.account_shipping_email_address.touched  && (!editAddress.controls.account_shipping_email_address.valid)">
            Please enter mandatory field
        </p>
    </div>
</ion-content>
<ion-footer class="address-footer">
    <div class="text-right">
        <ion-button class="btn-view" (click)="onFormSubmit(editAddress.value)" block primary
            [disabled]="!editAddress.valid">
            Update Address
        </ion-button>
    </div>
</ion-footer>