<ion-header>
  <ion-toolbar class="new-background-color">
      <img class="header-icon" src="../../assets/imgs/logo.svg"> 
      <ion-title class="header-title" (click)="RefreshPage()"> Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button style="color: white" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openCart()">
        <ion-badge class="badge-color">{{ totalCount }}</ion-badge>
        <ion-icon slot="icon-only" name="cart" style="color: white"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="new-background-color">
    <ion-searchbar class="class-search" (click)="openSearchPage()" placeholder="Filter Schedules"></ion-searchbar>
  </ion-toolbar>
  <div class="container">
    <div *ngIf="categories.length > 0" class="category-scroll" scrollX="true">
      <span class="category-span" *ngFor="let category of categories"
        (click)="categoryClick(category.slug,category.name)">{{category.name}}</span>
    </div>
  </div>
</ion-header>

<ion-content class="home-content" padding>
  <div>
    <ion-slides *ngIf="bannerList && bannerList.length" autoplay="5000" loop="true" speed="500" class="slides"
      pager="true">
      <ion-slide *ngFor="let cat of bannerList">
        <div class="slide-content" *ngIf="cat !== ''; else placeholder">
          <img class="image-wrap-slider" src="https://www.niletechinnovations.com/eq8tor{{cat.img_url}}">
        </div>
        <ng-template #placeholder><img src="../../assets/imgs/logo.png"></ng-template>
      </ion-slide>
    </ion-slides>
  </div>
  <ion-row no-padding>
    <ion-col class="heading-title">
      Latest Items
    </ion-col>
    <ion-button class="btn-view" float-right (click)="ViewAllLatest()">View All</ion-button>
  </ion-row>

  <ion-slides [options]="sliderConfig" class="Products-slider">
    <ion-slide *ngFor="let cat of latestProducts; let i = index">
      <div class="slide-content">
        <ion-card class="product-card">
          <div *ngIf="cat.post_image_url === ''">
            <ion-card-content class="product-card-media">
              <img (click)="goToProductDetail(cat.post_slug)" height="150" src="../../assets/imgs/icon.png">
            </ion-card-content>
          </div>
          <div *ngIf="!cat.post_image_url == ''">
            <ion-card-content class="product-card-media">
              <img (click)="goToProductDetail(cat.post_slug)" height="150"
                src="https://www.niletechinnovations.com/eq8tor{{cat.post_image_url}}">
            </ion-card-content>
          </div>
          <div>
            <div class="add-Wishlist" *ngIf="!wishListAdded || cat._wishlist == false" (click)="like(cat.id,i)">
              <img src="../../assets/imgs/Wishlist.svg">
            </div>
          </div>
          <div class="add-Wishlist" *ngIf="wishListAdded || cat._wishlist == true">
            <img src="../../assets/imgs/Wishlisted.svg">
          </div>
        </ion-card>
        <ion-card-content class="product-content">
          <h2 class="product-title">{{cat.post_title}}</h2>
            
            <!-- <div *ngIf="cat._rating === 0">
              <div class="star-rating">
                <span style="width:0%"></span>
              </div>
            </div>
            <div *ngIf="cat._rating > 0 && cat._rating < 10">
              <div class="star-rating">
                <span style="width:6%"></span>
              </div>
            </div>
            <div *ngIf="cat._rating === 10">
              <div class="star-rating">
                <span style="width:10%"></span>
              </div>
            </div>
            <div *ngIf="cat._rating > 10 && cat._rating < 20">
              <div class="star-rating">
                <span style="width:16%"></span>
              </div>
            </div>
            <div *ngIf="cat._rating === 20">
              <div class="star-rating">
                <span style="width:20%"></span>
              </div>
            </div>
            <div *ngIf="cat._rating > 20 && cat._rating < 30">
              <div class="star-rating">
                <span style="width:26%"></span>
              </div>
            </div>
            <div *ngIf="cat._rating === 30">
              <div class="star-rating">
                <span style="width:30%"></span>
              </div>
            </div>
            <div *ngIf="cat._rating > 30 && cat._rating < 40">
              <div class="star-rating">
                <span style="width:36%"></span>
              </div>
            </div>
            <div *ngIf="cat._rating === 40">
              <div class="star-rating">
                <span style="width:40%"></span>
              </div>
            </div>
            <div *ngIf="cat._rating > 40 && cat._rating < 50">
              <div class="star-rating">
                <span style="width:46%"></span>
              </div>
            </div>
            <div *ngIf="cat._rating === 50">
              <div class="star-rating">
                <span style="width:50%"></span>
              </div>
            </div>
            <div *ngIf="cat._rating > 50 && cat._rating < 60">
              <div class="star-rating">
                <span style="width:56%"></span>
              </div>
            </div>
            <div *ngIf="cat._rating === 60">
              <div class="star-rating">
                <span style="width:60%"></span>
              </div>
            </div>
            <div *ngIf="cat._rating > 60 && cat._rating < 70">
              <div class="star-rating">
                <span style="width:66%"></span>
              </div>
            </div>
            <div *ngIf="cat._rating === 70">
              <div class="star-rating">
                <span style="width:70%"></span>
              </div>
            </div>
            <div *ngIf="cat._rating > 70 && cat._rating < 80">
              <div class="star-rating">
                <span style="width:76%"></span>
              </div>
            </div>
            <div *ngIf="cat._rating === 80">
              <div class="star-rating">
                <span style="width:80%"></span>
              </div>
            </div>
            <div *ngIf="cat._rating > 80 && cat._rating < 90">
              <div class="star-rating">
                <span style="width:86%"></span>
              </div>
            </div>
            <div *ngIf="cat._rating === 90">
              <div class="star-rating">
                <span style="width:90%"></span>
              </div>
            </div>
            <div *ngIf="cat._rating > 90 && cat._rating < 100">
              <div class="star-rating">
                <span style="width:96%"></span>
              </div>
            </div>
            <div *ngIf="cat._rating === 100">
              <div class="star-rating">
                <span style="width:100%"></span>
              </div>
            </div> -->
            <div *ngIf="cat.post_type === 'simple_product' " class="product-price">
                <span>{{cat.post_price | currency:'USD':'symbol'}}</span>
              </div>
              <div *ngIf="cat.post_type === 'configurable_product'" class="product-price">
                <div *ngFor="let variation of cat.product_variations; let i = index">
                  <span *ngIf="i == 0">{{variation._variation_post_price | currency:'USD':'symbol'}}</span>
                </div>
              </div>
        </ion-card-content>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-row no-padding>
    <ion-col class="heading-title">
      Featured Items
    </ion-col>
    <ion-button class="btn-view" (click)="ViewAllFeatured()">View All</ion-button>
  </ion-row>


  <ion-slides [options]="sliderConfig" class="Products-slider">
    <ion-slide *ngFor="let cat of featuredItems; let i = index">
      <div class="slide-content">
        <ion-card class="product-card">
          <div *ngIf="cat.post_image_url === ''">
            <ion-card-content class="product-card-media">
              <img (click)="goToProductDetail(cat.post_slug)" height="150" src="../../assets/imgs/icon.png">
            </ion-card-content>
          </div>
          <div *ngIf="!cat.post_image_url == ''">
            <ion-card-content class="product-card-media">
              <img (click)="goToProductDetail(cat.post_slug)" height="150" src="{{apiUrl}}{{cat.post_image_url}}">
            </ion-card-content>
          </div>
          <div>
            <div class="add-Wishlist" *ngIf="!wishListAdded || cat._wishlist == false" (click)="likeFeatured(cat.id,i)">
              <img src="../../assets/imgs/Wishlist.svg">
            </div>
          </div>
          <div class="add-Wishlist" *ngIf="wishListAdded || cat._wishlist == true">
            <img src="../../assets/imgs/Wishlisted.svg">
          </div>
        </ion-card>
        <ion-card-content class="product-content">
          <ion-card-title class="product-title">
            {{cat.post_title}}
          </ion-card-title>
          <!-- <div *ngIf="cat._rating === 0">
            <div class="star-rating">
              <span style="width:0%"></span>
            </div>
          </div>
          <div *ngIf="cat._rating > 0 && cat._rating < 10">
            <div class="star-rating">
              <span style="width:6%"></span>
            </div>
          </div>
          <div *ngIf="cat._rating === 10">
            <div class="star-rating">
              <span style="width:10%"></span>
            </div>
          </div>
          <div *ngIf="cat._rating > 10 && cat._rating < 20">
            <div class="star-rating">
              <span style="width:16%"></span>
            </div>
          </div>
          <div *ngIf="cat._rating === 20">
            <div class="star-rating">
              <span style="width:20%"></span>
            </div>
          </div>
          <div *ngIf="cat._rating > 20 && cat._rating < 30">
            <div class="star-rating">
              <span style="width:26%"></span>
            </div>
          </div>
          <div *ngIf="cat._rating === 30">
            <div class="star-rating">
              <span style="width:30%"></span>
            </div>
          </div>
          <div *ngIf="cat._rating > 30 && cat._rating < 40">
            <div class="star-rating">
              <span style="width:36%"></span>
            </div>
          </div>
          <div *ngIf="cat._rating === 40">
            <div class="star-rating">
              <span style="width:40%"></span>
            </div>
          </div>
          <div *ngIf="cat._rating > 40 && cat._rating < 50">
            <div class="star-rating">
              <span style="width:46%"></span>
            </div>
          </div>
          <div *ngIf="cat._rating === 50">
            <div class="star-rating">
              <span style="width:50%"></span>
            </div>
          </div>
          <div *ngIf="cat._rating > 50 && cat._rating < 60">
            <div class="star-rating">
              <span style="width:56%"></span>
            </div>
          </div>
          <div *ngIf="cat._rating === 60">
            <div class="star-rating">
              <span style="width:60%"></span>
            </div>
          </div>
          <div *ngIf="cat._rating > 60 && cat._rating < 70">
            <div class="star-rating">
              <span style="width:66%"></span>
            </div>
          </div>
          <div *ngIf="cat._rating === 70">
            <div class="star-rating">
              <span style="width:70%"></span>
            </div>
          </div>
          <div *ngIf="cat._rating > 70 && cat._rating < 80">
            <div class="star-rating">
              <span style="width:76%"></span>
            </div>
          </div>
          <div *ngIf="cat._rating === 80">
            <div class="star-rating">
              <span style="width:80%"></span>
            </div>
          </div>
          <div *ngIf="cat._rating > 80 && cat._rating < 90">
            <div class="star-rating">
              <span style="width:86%"></span>
            </div>
          </div>
          <div *ngIf="cat._rating === 90">
            <div class="star-rating">
              <span style="width:90%"></span>
            </div>
          </div>
          <div *ngIf="cat._rating > 90 && cat._rating < 100">
            <div class="star-rating">
              <span style="width:96%"></span>
            </div>
          </div>
          <div *ngIf="cat._rating === 100">
            <div class="star-rating">
              <span style="width:100%"></span>
            </div>
          </div> -->
          <div *ngIf="cat.post_type === 'simple_product' " class="product-price">
            <span>{{cat.post_price | currency:'USD':'symbol'}}</span>
          </div>
          <div *ngIf="cat.post_type === 'configurable_product'" class="product-price">
            <div *ngFor="let variation of cat.product_variations; let i = index">
              <span *ngIf="i == 0">{{variation._variation_post_price | currency:'USD':'symbol'}}</span>
            </div>
          </div>
        </ion-card-content>
      </div>
    </ion-slide>
  </ion-slides>


  <!-- <div *ngIf="users && users.length > 0">
          <ion-list *ngIf="users.length === 0">
              <ion-item *ngFor="let user of [1,1,1,1,1,1,1,1,1,1,1,1,1]">
                <ion-label>
                  <ion-skeleton-text width="40%" animated></ion-skeleton-text>
                  <ion-skeleton-text width="80%" animated></ion-skeleton-text>
                </ion-label>
              </ion-item>
            </ion-list>
            <ion-list *ngIf="textToSearch.length > 0">
              <ion-item *ngFor="let user of users | filter:textToSearch">
                <ion-label>
                  <h3>{{user.name}}</h3>
                  <h5>{{user.email}}</h5>
                </ion-label>
              </ion-item>
            </ion-list>
      </div> -->
</ion-content>