<!-- <ion-header>
  <ion-toolbar>
    <ion-title>menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
<ion-split-pane>
   <ion-menu contentId="content">
<ion-header>
  <ion-toolbar>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <!-- <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
      <ion-item [href]="p.url" [class.active-item]="selectedPath === p.url" routerDirection="root">
        <ion-label>
          {{p.title}}
        </ion-label>
      </ion-item>
    </ion-menu-toggle> -->
  </ion-list>
</ion-content>
   </ion-menu>
   <ion-router-outlet name="menucontent" id="content" main>

   </ion-router-outlet>
</ion-split-pane>
