<ion-header>
    <ion-toolbar class="new-background-color">
        <ion-title class="header-title">Product Rating</ion-title>
        <ion-buttons slot="start">
            <ion-button color="dark" (click)="closeModal()">
                <ion-icon class="back-arrow" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            <ion-item lines="none">
                <ion-label  position="stacked">Rate this product </ion-label>
                <br>
                <rating [(ngModel)]="rate"
                readonly="false" 
                size="default"
                (ngModelChange)="onModelChange($event)">
        </rating>
            </ion-item>
            <ion-item lines="none">
              <ion-textarea [(ngModel)]="Review" cols="20" placeholder="Write Review..."></ion-textarea>
            </ion-item>
        </ion-card-content>
  <ion-card-content>
           <ion-button class="rating-btn"  expand="full" (click)="submitRating()">Submit</ion-button>
 </ion-card-content>
</ion-card>
 
  <ion-grid>  
    <ion-row>
      <ion-col text-center>
        ID : {{productId}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
