.new-background-color {
  --background: #b31117;
}
.back-arrow {
  color: #fff;
}
.header-title {
  color: #fff;
  text-align: center
}

.rating-btn {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    --border-radius: 2px;
    display: inline-block;
    margin: 0;
    height: auto;
    --padding-top: 15px;
    --padding-bottom: 15px;
    --padding-start: 30px;
    --padding-end: 30px;
    --background: #b31117;
    width: 100%;
    --background-activated:#b31117;
}