.header-title {
  color: #fff;
  text-align: center
}
.new-background-color {
  --background: #b31117;
}
.cms-content{
  white-space: inherit;
}
.header-icon {
  background: white;
  height: 30px;
  width: auto;
  position: relative;
  border-radius: 5px;
  margin-left: 20px;
}

.title-md {
  left: 0;
  top: 0;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 0;
  padding-bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: -.03em;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  pointer-events: none;
}