<ion-header>
  <ion-toolbar class="new-background-color">
      <img class="header-icon" src="../../assets/imgs/logo.svg"> 
      <ion-title class="header-title">{{pageName}}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button style="color: white" autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
 </ion-header>
 
 <ion-content>
 
  <div>
    <ion-item>
        <ion-label class="cms-content">
          {{pageContent}}
              </ion-label>
    </ion-item>
 
    </div>
 
 
 </ion-content>
