:host {
    .new-background-color {
    --background: #b31117;
    }
    .header-title{
        color:#fff; 
        text-align: center
    }
    .back-arrow{
        color: #fff;
    }
    *{
        box-sizing: border-box;
    }
     
.header-icon {
    background: white;
    height: 30px;
    width: auto;
    position: relative;
    border-radius: 5px;
    margin-left: 20px;
}

.title-md {
    left: 0;
    top: 0;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: -.03em;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    pointer-events: none;
}
    body,
    html {
        height: 100%;
        min-height: 100%;
    }
     
    body {
        font-family: 'Roboto',
        sans-serif;
        margin: 0;
        background-color: #e7e7e7;
    }
    .credit-card {
        width: 360px;
        height: 400px;
        margin: 60px auto 0;
        border: 1px solid #ddd;
        border-radius: 6px;
        background-color: #fff;
        box-shadow: 1px 2px 3px 0 rgba(0,0,0,.10);
    }
    .title {
        font-size: 18px;
        margin: 0;
        color: #5e6977;
    }


.payment-content{
    background: #f4f8fc;
    --background: var(--ion-background-color,#f4f8fc);
}

.payment-card{
    padding:10px;
    background: #fff;
    margin-bottom: 10px;
}

.form-control-input{border: 1px solid #eee;
    padding: 10px;
    font-size: 12px;
    border-radius: 2px;
    --padding-top: 12px;
    --padding-end: 0;
    --padding-bottom: 12px;
    --padding-start: 8px;
    color: #524e4e;}

.form-control-select{border: 1px solid #eee;
padding: 10px;
font-size: 13px;
border-radius: 2px;}
.form-label-text{    color: #213051;
    font-size: 14px;
    font-weight: 600;}


.btn-checkout{
    color: #fff;
    font-weight: bolder;
    font-size: 10px;
    --border-radius: 2px;
    display: inline-block;
    margin: 0;
    height: auto;
    --padding-top: 15px;
    --padding-bottom: 15px;
    --padding-start: 30px;
    --padding-end: 30px;
    --background: #b31117;
    --background-activated: #b31117;
    width: 100%;
}

.btn-cancel{
    color: #fff;
    font-weight: bolder;
    font-size: 10px;
    --border-radius: 2px;
    display: inline-block;
    margin: 0;
    height: auto;
    --padding-top: 15px;
    --padding-bottom: 15px;
    --padding-start: 30px;
    --padding-end: 30px;
    --background: #003954;
    --background-activated: #003954;
    width: 100%;
}


    .cvv-input input,
.month select,
.year select {
    font-size: 14px;
    font-weight: 100;
    line-height: 14px;
}
 
.card-number,
.month select,
.year select {
    font-size: 14px;
    font-weight: 100;
    line-height: 14px;
}
 
.card-number,
.cvv-details,
.cvv-input input,
.month select,
.year select {
    opacity: .7;
    color: #86939e;
}
.card-number {
    width: 100%;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 2px solid #e1e8ee;
    border-radius: 6px;
}
.month select,
.year select {
    width: 145px;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 2px solid #e1e8ee;
    border-radius: 6px;
    // background: url('caret.png') no-repeat;
    background-position: 85% 50%;
    -moz-appearance: none;
    -webkit-appearance: none;
}
 
.month select {
    float: left;
}
 
.year select {
    float: right;
}
.cvv-input input {
    float: left;
    width: 145px;
    padding-left: 20px;
    border: 2px solid #e1e8ee;
    border-radius: 6px;
    background: #fff;
}
 
.cvv-details {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    float: right;
    margin-bottom: 20px;
}
 
.cvv-details p {
    margin-top: 6px;
}
.proceed-btn {
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    border-color: transparent;
    border-radius: 6px;
}
 
.proceed-btn {
    margin-bottom: 10px;
    background: #7dc855;
}
 
.paypal-btn a,
.proceed-btn a {
    text-decoration: none;
}
 
.proceed-btn a {
    color: #fff;
}
 
.paypal-btn a {
    color: rgba(242, 242, 242, .7);
}
 
.paypal-btn {
    padding-right: 95px;
}
} 