<ion-header>
  <ion-toolbar class="new-background-color">
      <img class="header-icon" src="../../assets/imgs/logo.svg"> 
    <ion-title class="header-title">Payment</ion-title>
    <ion-buttons slot="start">
      <!-- <ion-button color="dark" (click)="goBack()">
        <ion-icon class="back-arrow" name="arrow-back"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="payment-content" padding>
  <div class="payment-card">
    <div [formGroup]="cardDetails">
      <ion-row>
        <ion-col size="12">
          <div class="form-group">
            <label class="form-label-text">Card Number</label>
            <ion-input type="tel" class="form-control-input" maxlength="16" placeholder="**** **** **** ****"
              (keydown.space)="$event.preventDefault();" formControlName="cardNumber">
            </ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <div class="form-group">
            <label class="form-label-text">Month</label>
            <ion-select name="Month" class="form-control-select" placeholder="Month" formControlName='Month'>
              <ion-select-option value="01">January</ion-select-option>
              <ion-select-option value="02">February</ion-select-option>
              <ion-select-option value="03">March</ion-select-option>
              <ion-select-option value="04">April</ion-select-option>
              <ion-select-option value="05">May</ion-select-option>
              <ion-select-option value="06">June</ion-select-option>
              <ion-select-option value="07">July</ion-select-option>
              <ion-select-option value="08">August</ion-select-option>
              <ion-select-option value="09">September</ion-select-option>
              <ion-select-option value="10">October</ion-select-option>
              <ion-select-option value="11">November</ion-select-option>
              <ion-select-option value="12">December</ion-select-option>
            </ion-select>
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="form-group">
            <label class="form-label-text">Year</label>
            <ion-select name="Year" class="form-control-select" placeholder="Year" formControlName='Year'>
              <ion-select-option value="2020">2020</ion-select-option>
              <ion-select-option value="2021">2021</ion-select-option>
              <ion-select-option value="2022">2022</ion-select-option>
              <ion-select-option value="2023">2023</ion-select-option>
              <ion-select-option value="2024">2024</ion-select-option>
              <ion-select-option value="2025">2025</ion-select-option>
              <ion-select-option value="2026">2026</ion-select-option>
            </ion-select>
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="form-group">
            <label class="form-label-text">CVV</label>
            <ion-input placeholder="CVV" class="form-control-input" (keydown.space)="$event.preventDefault();"
              formControlName="cvv">
            </ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <div class="form-group">
            <ion-button class="btn-checkout" type="submit" (click)="sendDetails(cardDetails.value)" [disabled]="disableButton">
              Checkout
            </ion-button>
          </div>
        </ion-col>

        <ion-col size="12">
            <div class="form-group">
              <ion-button class="btn-cancel" type="submit" (click)="goBack()" [disabled]="disableButton">
                Cancel
              </ion-button>
            </div>
          </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>