<ion-content class="home-content">
  <ion-toolbar class="product-single-toolbar">
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="goBack()">
        <ion-icon class="header-arrow" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div *ngIf="detailsContent.post_image_url === ''">
    <ion-card-content class="product-card-media">
      <img src="../../assets/imgs/icon.png">
    </ion-card-content>
  </div>
  <div *ngIf="detailsContent.post_image_url != '' " class="product-single-slider">
    <ion-slides autoplay="5000" loop="true" speed="500" class="slides" pager="true">
      <ion-slide *ngFor="let cat of detailImageList">
        <img src="{{apiUrl}}{{cat.url}}" (click)="openPreview(cat.url)">
      </ion-slide>
    </ion-slides>
</div>
  <div *ngIf="productType === 'variation'">
    <ion-card-content class="product-card-media">
      <img id="variationImage">
    </ion-card-content>
  </div>
  <!-- <div class="product-single-content" *ngIf="checkStockOfProduct != 'In Stock'">
    <h2 style="color: red">{{checkStockOfProduct}}</h2>
  </div>
  <div class="product-single-content" *ngIf="checkStockOfProduct === 'In Stock'">
    <h2 style="color: green">{{checkStockOfProduct}}</h2>
  </div> -->
  <div class="product-single-content">
    <h2>
      {{detailsContent.post_title}}
    </h2>

    <div *ngIf="averageRating === 0" class="star-rating-section">
      <ul>
        <li>
          <div class="star-rating">
            <span style="width:0%"></span>
          </div>
        </li>
        <li><span (click)="openRatingModal(detailsContent.id)">({{totalRating}}) Ratings</span></li>
      </ul>
    </div>
    <div *ngIf="averageRating > 0 && averageRating < 1" class="star-rating-section">
      <ul>
        <li>
          <div class="star-rating">
            <span style="width:18%"></span>
          </div>
        </li>
        <li (click)="openRatingModal(detailsContent.id)"><span>({{totalRating}}) Ratings</span></li>
      </ul>
    </div>
    <div *ngIf="averageRating === 1" class="star-rating-section">
      <ul>
        <li>
          <div class="star-rating">
            <span style="width:20%"></span>
          </div>
        </li>
        <li (click)="openRatingModal(detailsContent.id)"><span>({{totalRating}}) Ratings</span></li>
      </ul>
    </div>
    <div *ngIf="averageRating > 1 && averageRating < 2" class="star-rating-section">
      <ul>
        <li>
          <div class="star-rating">
            <span style="width:35%"></span>
          </div>
        </li>
        <li (click)="openRatingModal(detailsContent.id)"><span>({{totalRating}}) Ratings</span></li>
      </ul>
    </div>
    <div *ngIf="averageRating === 2" class="star-rating-section">
      <ul>
        <li>
          <div class="star-rating">
            <span style="width:40%"></span>
          </div>
        </li>
        <li (click)="openRatingModal(detailsContent.id)"><span>({{totalRating}}) Ratings</span></li>
      </ul>
    </div>
    <div *ngIf="averageRating > 2 && averageRating < 3" class="star-rating-section">
      <ul>
        <li>
          <div class="star-rating">
            <span style="width:55%"></span>
          </div>
        </li>
        <li (click)="openRatingModal(detailsContent.id)"><span>({{totalRating}}) Ratings</span></li>
      </ul>
    </div>
    <div *ngIf="averageRating === 3" class="star-rating-section">
      <ul>
        <li>
          <div class="star-rating">
            <span style="width:55%"></span>
          </div>
        </li>
        <li (click)="openRatingModal(detailsContent.id)"><span>({{totalRating}}) Ratings</span></li>
      </ul>
    </div>
    <div *ngIf="averageRating > 3 && averageRating < 4" class="star-rating-section">
      <ul>
        <li>
          <div class="star-rating">
            <span style="width:69%"></span>
          </div>
        </li>
        <li (click)="openRatingModal(detailsContent.id)"><span>({{totalRating}}) Ratings</span></li>
      </ul>
    </div>
    <div *ngIf="averageRating === 4" class="star-rating-section">
      <ul>
        <li>
          <div class="star-rating">
            <span style="width:80%"></span>
          </div>
        </li>
        <li (click)="openRatingModal(detailsContent.id)"><span>({{totalRating}}) Ratings</span></li>
      </ul>
    </div>
    <div *ngIf="averageRating > 4 && averageRating < 5" class="star-rating-section">
      <ul>
        <li>
          <div class="star-rating">
            <span style="width:90%"></span>
          </div>
        </li>
        <li (click)="openRatingModal(detailsContent.id)"><span>({{totalRating}}) Ratings</span></li>
      </ul>
    </div>
    <div *ngIf="averageRating === 5" class="star-rating-section">
      <ul>
        <li>
          <div class="star-rating">
            <span style="width:100%"></span>
          </div>
        </li>
        <li (click)="openRatingModal(detailsContent.id)"><span>({{totalRating}}) Ratings</span></li>
      </ul>
    </div>
    <!-- <ion-button class="button-rating" (click)="openRatingModal(detailsContent.id)">
      Rating
    </ion-button> -->
    <!-- <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.
      The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of
      Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.
    </p> -->
    <p>{{detailsContent.post_content}}
    </p>
  </div>
  <div *ngIf='colorArray.length > 0'>
    <div class="product-single-size">
      <h2>Color</h2>
      <div class="size-scroll" scrollX="true">
        <button [ngClass]="{'selected':color.isSelected}" class="btn-size size-span"
          *ngFor="let color of colorArray;let i = index" (click)="btnColor(i)">{{color.color}}</button>
      </div>
    </div>
  </div>
  <div *ngIf='colorArray.length > 0'>
    <div class="product-single-size">
      <h2>Size</h2>
      <div class="size-scroll" scrollX="true">
        <button [ngClass]="{'selected':category.isSelected}" class="btn-size size-span"
          *ngFor="let category of sizeArray;let i = index" (click)="btnSize(i)">{{category.size}}</button>
      </div>
      <ion-button *ngIf="postType === 'configurable_product'" class="btn-size-chart" (click)="openSizeChart()">
        See Size Guide
      </ion-button>
    </div>
    
  </div>
  <div class="product-single-size" *ngIf='colorArray.length > 0'>
    <div>
      <button class="btn-increment" (click)="decrementQty()">
        <ion-icon class="ion-icon-increment" name="remove-circle"></ion-icon>
      </button>
      <div class="quantity-value"> {{qty}} </div>

      <button class="btn-increment" (click)="incrementQty()">
        <ion-icon class="ion-icon-increment" name="add-circle"></ion-icon>
      </button>
    </div>
  </div>
</ion-content>
<ion-footer class="product-single-footer">
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <ion-button *ngIf="!cartAdded && postType === 'configurable_product' && '!variationProductStock'" class="addtocart-btn"
          (click)="addToCartVariation(detailsContent.id,qty)" [hidden]="variationProductStock">
          Add To Cart
          <ion-spinner *ngIf="buttonClick" name="dots"></ion-spinner>
        </ion-button>
        <ion-button class="addtocart-btn" *ngIf="variationProductStock">
          Out of Stock
        </ion-button>
        <ion-button
          *ngIf="!cartAdded && checkStockOfProduct === 'In Stock'&& postType === 'simple_product' && '!variationProductStock'"
          class="addtocart-btn" [hidden]="variationProductStock" (click)="addToCart(detailsContent.id,qty)">
          Add To Cart
          <ion-spinner *ngIf="buttonClick" name="dots"></ion-spinner>
        </ion-button>
        <ion-button *ngIf="cartAdded" class="addtocart-btn" routerLink="/cart">
          Go To Cart
        </ion-button>
      </ion-col>
      <ion-col size="4">
          <div *ngIf = "postType === 'configurable_product';else variationPriceContent " class="single-product-price">
              <ion-label id="changePrice" class="price" >
                {{priceDisplay | currency:'USD':'symbol'}}
              </ion-label>
            </div>
            <ng-template #variationPriceContent>
                <div class="single-product-price">
                    <ion-label id="changePrice" class="price">
                      {{variationPrice | currency:'USD':'symbol'}}
                    </ion-label>
                  </div>
            </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>