:root {
    --ion-item-background-activated: #051b35;
}

.header-title {
    color: #fff;
    text-align: center
}

.new-background-color {
    --background: #b31117;
}

.header-arrow {}

.selected {
    background-color: #b31117 !important;
    color: white !important;
    outline: none;
    box-shadow: none;
}

.star-rating {
    font-family: "FontAwesome";
    font-size: 17px;
    height: 20px;
    overflow: hidden;
    position: relative;
    width: 94px;
}

.star-rating {
    margin: 0px auto;
}

.star-rating::before {
    color: #656c72;
    content: "\2605\2605\2605\2605\2605";
    float: left;
    font-size: 17px;
    left: 0;
    letter-spacing: 2px;
    position: absolute;
    top: 0;
}

.star-rating span {
    float: left;
    left: 0;
    overflow: hidden;
    padding-top: 1.5em;
    position: absolute;
    top: 0;
}

.star-rating span::before {
    color: #fab902;
    content: "\2605\2605\2605\2605\2605";
    font-size: 17px;
    left: 0;
    letter-spacing: 2px;
    position: absolute;
    top: 0;
}

.star-rating .rating {
    display: none;
}

.container {
    ::-webkit-scrollbar {
        display: none;
    }

    .size-scroll {
        overflow: auto;
        background-color: #b31117;
        white-space: nowrap;
        padding: 10px 12px 10px 12px;
    }
}

.size-span {
    margin-bottom: auto;
    margin-left: 5px;
    color: white;
    background: #841014;
    padding: 8px 10px;
    border-radius: 2px;
    font-weight: 600;
    font-size: 12px;
}

.highlight-color {
    color: blue;
}

ion-slides {
    color: #fff;

    ion-slide {
        align-items: start;
        text-align: center;

        .slide-content {
            // padding: 0px 14%;
            .text p {
                margin-top: 0;
                margin-bottom: 10px;
            }
        }
    }
}

ion-content.home-content {
    background: #f4f8fc;
    --background: var(--ion-background-color, #f4f8fc)
}

ion-toolbar.product-single-toolbar {
    position: absolute;
    top: 15px;
    right: 0;
    left: 0;
    --background: transparent;
    --ion-color-base: transparent !important;
}

.star-rating-section ul li {
    display: inline-block;
    padding-right: 10px;
    color: #b31117
}

.star-rating-section ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.button-rating {
    float: right;
}

.product-single-content {
    padding: 20px;
    background: #fff;
    margin-bottom: 10px;
}

.product-single-content h2 {
    color: #213051;
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
    padding-top: 0;
}

.product-single-content p {
    color: #213051;
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
}

.product-single-size {
    padding: 20px;
    background: #fff;
    margin-bottom: 10px;
}

.product-single-size h2 {
    color: #213051;
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
    padding-top: 0;
}

.btn-size-chart {
    color: #80889a;
    font-size: 11px;
    font-weight: normal;
    line-height: 24px;
    background: none;
    border: none;
    --background: transparent;
    padding: 0;
    -webkit-margin-start: 0;
    margin-inline-start: 0;
    -webkit-margin-end: 0;
    margin-inline-end: 0;
    text-decoration: underline;
    --background-activated: var(--background);
    --box-shadow: none;
    height: auto;
    margin: 0;
}

.btn-size-chart.activated {
    --background-activated: transparent;
    --color: #80889a;
    --color-activated: #80889a;
}

ion-footer.product-single-footer {
    background: #fff;
    padding: 0px 20px;
    -webkit-box-shadow: 0 -4px 12px 0 rgba(158, 169, 181, 0.55);
    box-shadow: 0 -4px 12px 0 rgba(158, 169, 181, 0.55);
}

.addtocart-btn {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    --border-radius: 2px;
    display: inline-block;
    margin: 0;
    --padding-top: 15px;
    --padding-bottom: 15px;
    --padding-start: 30px;
    --padding-end: 30px;
    --background: #b31117;
    width: 92%;
    --background-activated: #b31117;
}

ion-icon.ion-icon-increment {
    font-size: 14px;
    color: white;
}

.single-product-price {
    padding: 10px 0;
    text-align: center
}

.single-product-price .price {
    font-size: 20px;
    font-weight: bold;
    color: #213051;
}

.btn-increment {
    background: #b31117;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    padding: 8px 10px;
    display: inline-block;
}

.quantity-value {
    display: inline-block;
    width: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

.btn-size {
    background: white;
    border: 1px solid #d4dee8;
    color: #213051;
    --background-activated: var(--ion-item-background-activated);
}

.button.active {
    background-color: green !important;
}