.container {
    ::-webkit-scrollbar {
        display: none;
    }

    .category-scroll {
        overflow: auto;
        background-color: #b31117;
        white-space: nowrap;
        padding: 10px 12px 10px 12px;
    }
}
.header-icon {
    background: white;
    height: 30px;
    width: auto;
    position: relative;
    border-radius: 5px;
    margin-left: 20px;
}
.title-md{
    left: 0;
    top: 0;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: -.03em;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    pointer-events: none;
}
.category-span {
    margin-bottom: auto;
    margin-left: 5px;
    color: white;
    background: #841014;
    padding: 8px 10px;
    border-radius: 2px;
    font-weight: 600;
    font-size: 12px;
}

.new-background-color {
    --background: #b31117;
}

.text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    max-height: 48px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.header-title {
    color: #fff;
    text-align: center
}

.back-arrow {
    color: #fff;
}

ion-content.home-content {
    background: #f4f8fc;
    --background: var(--ion-background-color, #f4f8fc)
}

ion-card.product-card {
    -webkit-margin-start: 0;
    margin-inline-start: 0px;
    background: #fff;
    border-radius: 3px;
    --background: var(--ion-item-background, #fff);
    box-shadow: none;
    margin-bottom: 0;
    min-height: 200px;
    -webkit-margin-end: 10px;
    margin-inline-end: 10px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.product-card-media {
    -webkit-padding-start: 0px;
    padding-inline-start: 0px;
    -webkit-padding-end: 0px;
    padding-inline-end: 0px;
    padding-top: 0;
    padding-bottom: 0;
    height: 200px;
    overflow: hidden;
}

.product-card-media img {
    width: 100% !important;
    max-height: none !important;
    max-width: none !important;
}

.product-title {
    color: #656c72;
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    line-height: 16px;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    text-overflow: ellipsis;
    max-height: 48px;
    overflow: hidden;
}

.product-content {
    padding: 0 10px;
}

.Products-slider {
    height: auto;
    /* slider height you want */
}

.star-rating {
    font-family: "FontAwesome";
    font-size: 18px;
    height: 20px;
    overflow: hidden;
    position: relative;
    width: 78px;
}

.star-rating {
    margin: 10px auto;
}

.star-rating::before {
    color: #656c72;
    content: "\2605\2605\2605\2605\2605";
    float: left;
    font-size: 15px;
    left: 0;
    letter-spacing: 1px;
    position: absolute;
    top: 0;
}

.star-rating span {
    float: left;
    left: 0;
    overflow: hidden;
    padding-top: 1.5em;
    position: absolute;
    top: 0;
}

.star-rating span::before {
    color: #fab902;
    content: "\2605\2605\2605\2605\2605";
    font-size: 15px;
    left: 0;
    letter-spacing: 1px;
    position: absolute;
    top: 0;
}

.star-rating .rating {
    display: none;
}

.product-price {
    text-align: center
}

.product-price span {
    color: #656c72;
    font-size: 14px;
    font-weight: 500;
}