<ion-header>
  <ion-toolbar>
    <ion-title>Products</ion-title>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor= "let products of productArray">
    <ion-item (click)="goToDetail(products.id)">
        <img class="item-image" src="https://www.niletechinnovations.com/eq8tor{{products.post_image_url}}">
      <ion-label no-border>{{products.post_title}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
