<ion-header>
  <ion-toolbar class="new-background-color">
      <img class="header-icon" src="../../assets/imgs/logo.svg"> 
      <ion-title class="header-title">Order Detail</ion-title>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="closeModal()">
        <ion-icon class="back-arrow" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="orders-item-content">
    <ion-col size="6">
      <div class="orders-id">
        <h2>Order Id: {{data.order_id}}</h2>
      </div>
    </ion-col>
    <ion-col size="6">
      <div class="button-status">
        <div>
          <div
            *ngIf="data._order_status === 'on-hold' || data._order_status === 'processing' || data._order_status === 'pending'">
            <ion-button class="return-cancel-btn" [hidden]='hideMeCancel' (click)='CancelAction(data.order_id)'> Cancel Order </ion-button>
          </div>
          <div *ngIf="data._order_status === 'completed'">
            <ion-button class="return-cancel-btn" [hidden]='hideMeReturn' (click)='ReturnAction(data.order_id)'> Return Order </ion-button>
          </div>
          <div class="p-order-status" *ngIf="data._order_status === 'cancelled'">
            <p>{{buttonTextCancel}}</p>
          </div>
          <div class="p-order-status" *ngIf="data._order_status === 'refunded'">
            <p>{{buttonTextReturn}}</p>
          </div>
          <div class="p-order-status" *ngIf="orderCancelledResponse === 'Order Cancelled'">
            <p id="changeStatus">{{orderCancelledResponse}}</p>
          </div>
          <div class="p-order-status" *ngIf="orderReturnResponse === 'Order Return Applied.'">
            <p id="changeStatus">{{orderReturnResponse}}</p>
          </div>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row no-padding>
    <ion-col class="heading-title">
      Payment Method
    </ion-col>
    <p class="p-order-date">{{data._payment_method}}</p>
  </ion-row>
  <ion-row no-padding>
    <ion-col class="heading-title">
      Order Date
    </ion-col>
    <p class="p-order-date">{{data.order_date}}</p>
  </ion-row>
  <ion-row no-padding>
    <ion-col class="heading-title">
      Order status
    </ion-col>
    <p class="p-order-date">{{data._order_status}}</p>
  </ion-row>
  <ion-row no-padding>
    <ion-col class="heading-title">
      Order Price
    </ion-col>
    <p class="p-order-date">{{data._order_currency}} {{data._order_total | number : '1.2-2'}}</p>
  </ion-row>
  <ion-card class="address-Card">
    <h2> Billing Address</h2>
    <ion-label>{{data.customer_address._billing_first_name}} {{data.customer_address._billing_last_name}}</ion-label>
    <br>
    <ion-card-content class="content-Card">
      <!-- <div *ngIf="data.customer_address._billing_company !== null">
          <h2>Company: <span class="content-Card h2 span">{{data.customer_address._billing_company}}</span></h2>
      </div> -->
      <div *ngIf="data.customer_address._billing_address_1 !== null">
          <h2>Address 1: <span class="content-Card h2 span">{{data.customer_address._billing_address_1}}</span></h2>
      </div>
      <div *ngIf="data.customer_address._billing_address_2 !== null">
          <h2>Address 2: <span class="content-Card h2 span">{{data.customer_address._billing_address_2}}</span></h2>
      </div>
      <div *ngIf="data.customer_address._billing_city !== null">
          <h2>City: <span class="content-Card h2 span">{{data.customer_address._billing_city}}</span></h2>
      </div>
      <div *ngIf="data.customer_address._billing_postcode !== 'null'">
          <h2>Post Code: <span class="content-Card h2 span">{{data.customer_address._billing_postcode}}</span></h2>
      </div>
      <div *ngIf="data.customer_address._billing_country !== 'null'">
          <h2>Country: <span class="content-Card h2 span">{{data.customer_address._billing_country}}</span></h2>
      </div>
      <div *ngIf="data.customer_address._billing_phone !== 'null'">
          <h2>Phone: <span class="content-Card h2 span">{{data.customer_address._billing_phone}}</span></h2>
      </div>
      <div *ngIf="data.customer_address._billing_email !== 'null'">
        <h2>Email: <span class="content-Card h2 span">{{data.customer_address._billing_email}}</span></h2>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card class="address-Card">
    <h2>Shipping Address</h2>
    <ion-label>{{data.customer_address._shipping_first_name}} {{data.customer_address._shipping_last_name}}</ion-label>
    <br>
    <ion-card-content class="content-Card">
      <!-- <div *ngIf="data.customer_address._shipping_company !== null">
          <h2>Company: <span class="content-Card h2 span">{{data.customer_address._shipping_company}}</span></h2>
      </div> -->
      <div *ngIf="data.customer_address._shipping_address_1 !== null">
          <h2>Address 1: <span class="content-Card h2 span">{{data.customer_address._shipping_address_1}}</span></h2>
      </div>
      <div *ngIf="data.customer_address._shipping_address_2 !== null">
          <h2>Address 2: <span class="content-Card h2 span">{{data.customer_address._shipping_address_2}}</span></h2>
      </div>
      <div *ngIf="data.customer_address._shipping_city !== null">
          <h2>City: <span class="content-Card h2 span">{{data.customer_address._shipping_city}}</span></h2>
      </div>
      <div *ngIf="data.customer_address._shipping_postcode !== null">
          <h2>Post Code: <span class="content-Card h2 span">{{data.customer_address._shipping_postcode}}</span></h2>
      </div>
      <div *ngIf="data.customer_address._shipping_country !== null">
          <h2>Country: <span class="content-Card h2 span">{{data.customer_address._shipping_country}}</span></h2>
      </div>
      <div *ngIf="data.customer_address._shipping_phone !== null">
          <h2>Phone: <span class="content-Card h2 span">{{data.customer_address._shipping_phone}}</span></h2>
      </div>
      <div *ngIf="data.customer_address._shipping_email !== null">
          <h2> Email: <span class="content-Card h2 span">{{data.customer_address._shipping_email}}</span></h2>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>