<ion-header>
  <ion-toolbar class="new-background-color">
      <img class="header-icon" src="../../assets/imgs/logo.svg"> 
      <ion-title class="header-title">Cart</ion-title>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="goBack()">
        <ion-icon class="back-arrow" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content">
  <ion-label>{{outOfStockMessage}}</ion-label>
  <ion-list class="cart-item-content">
    <ion-item class="cart-item-info" *ngFor="let item of selectedItems" lines="inset">
      <ion-row class="cart-item-grid">
        <ion-col size="3">
          <div class="cart-item-info-media">
            <img src="{{item.image_url}}">
          </div>
          
        </ion-col>
        <ion-col size="8">
          <div class="cart-item-info-content">
            <h2>{{ item.slug }}</h2>
            <h3>{{ item.quantity }}x</h3>
            <h4>size: {{item.size}}</h4>
            <h4>color: {{item.color}}</h4>
            <div class="item-price">
              <span slot="end" text-right>{{ (item.price * item.quantity) | currency:'USD':'symbol' }}</span>
            </div>
            <div>
                <button class="btn-increment" (click)="decrementQty(item.quantity,item.id,item.variation_id)">
                  <ion-icon class="ion-icon-increment" name="remove-circle"></ion-icon>
                </button> <span class="quantity-span"> {{item.quantity}} </span>
                <button class="btn-increment"  (click)="incrementQty(item.quantity,item.id,item.variation_id)">
                  <ion-icon class="ion-icon-increment" name="add-circle"></ion-icon>
                </button>
              </div>
          </div>
        </ion-col>
        <ion-col size="1">
          <ion-button class="close-icon" (click)="removeItem(item)">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-item>
    <div class="btn-content-info">
      <button routerLink="/home" class="btn-add-more">+ ADD MORE ITEMS</button>
    </div>
    <!-- <ion-item>
      Total: <span slot="end">{{ total | currency:'USD':'symbol' }}</span>
    </ion-item> -->
  </ion-list>

  <div class="apply-coupon-section">
    <ion-row class="apply-coupon-content">
      <ion-col size="9">
        <div class="apply-coupon-box">
          <img src="../../assets/imgs/discount.svg" height="40">
          <button class="apply-coupon-btn" ion-button (click)="hideMe = !hideMe">{{couponHeadingText}}</button>
        </div>
      </ion-col>
      <ion-col size="3">
        <div class="offer-btn-box">
          <button class="offer-btn">Offers</button>
        </div>
      </ion-col>
      <div *ngIf="hideMe" class="apply-coupon-form">
        <ion-item class="password-input">
          <ion-input class="input-form-control" (keydown.space)="$event.preventDefault();" [type]="text"
            placeholder="Apply Coupon" [(ngModel)]="coupon" [readonly]="status_loading">
          </ion-input>
          <button class="showBtn Apply-btn" item-right (click)='applyCoupon()'>{{couponBtnText}}</button>
        </ion-item>
      </div>
    </ion-row>
  </div>

 <div class="cart-total-section">
   <h2>Bill Details</h2>    
    <ion-row>
      <ion-col size="6" >
        <div class="cart-Subtotal-text">Cart Sub Total:</div>
      </ion-col>
      <ion-col size="6">
        <div class="cart-Subtotal-value">{{ total | currency:'USD':'symbol' }}</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf = "isMember === true">
        <ion-col size="6" >
          <div class="cart-discount-text">Membership Discount:</div>
        </ion-col>
        <ion-col size="6">
          <div class="cart-discount-value">-{{ membershipDiscount | currency:'USD':'symbol' }}</div>
        </ion-col>
      </ion-row>
    <ion-row>
      <ion-col size="6">
          <div class="cart-discount-text">Offer & Discount:</div>
      </ion-col>
      <ion-col size="6">
        <div class="cart-discount-value">{{- couponDiscount | currency:'USD':'symbol' }}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
          <div class="cart-tax-text">Tax:</div>
      </ion-col>
      <ion-col size="6">
          <div class="cart-tax-value">{{ taxRate | currency:'USD':'symbol' }}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
          <div class="cart-shipping-text">Shipping Cost:</div>
      </ion-col>
      <ion-col size="6">
          <div class="cart-shipping-value">{{ shippingCost | currency:'USD':'symbol' }}</div>
          <!-- <div class="cart-shipping-value">$ 0</div> -->
        </ion-col>
    </ion-row>
    <ion-row class="grand-total">
      <ion-col size="6">
          <div class="cart-total-text">Grand Total:</div>
      </ion-col>
      <ion-col size="6">
          <div class="cart-total-value">{{ totalAmount | currency:'USD':'symbol' }}</div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>

<ion-footer class="product-single-footer">
  <ion-button class="checkout-btn" (click)='goToCheckout()' [disabled]="checkoutDisable">
    CHECKOUT
  </ion-button>
</ion-footer>