:host {
    .new-background-color {
        --background: #b31117;
    }

    .header-title {
        color: #fff;
        text-align: center
    }
    
    .title-md{
        left: 0;
        top: 0;
        padding-left: 90px;
        padding-right: 90px;
        padding-top: 0;
        padding-bottom: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        font-size: 17px;
        font-weight: 600;
        letter-spacing: -.03em;
        text-align: center;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        pointer-events: none;
    }
}
.header-icon {
    background: white;
    height: 30px;
    width: auto;
    position: relative;
    border-radius: 5px;
    margin-left: 20px;
}
.back-arrow {
    color: #fff;
}


ion-content.home-content {
    background: #f4f8fc;
    --background: var(--ion-background-color, #f4f8fc)
}


.cart-item-content {
    padding: 20px;
    background: #fff;
    margin-bottom: 10px;
}

.cart-item-info {
    border-bottom: 1px solid #eee;
    --padding-start: 0px;
    --inner-padding-end: 0px;
}


.cart-item-info-content h2 {
    color: #213051;
    font-size: 14px;
    font-weight: 600;
    margin-top: 0;
    padding-top: 0;
}

.cart-item-info-content h4 {
    color: #a0a7b5;
    font-size: 11px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.cart-item-info-content h3 {
    font-size: 14px;
}

.item-price {
    padding: 10px 0;
    text-align: left
}

.item-price span {
    font-size: 16px;
    font-weight: bold;
    color: #213051;
}

.btn-add-more {
    background: #b31117;
    padding: 10px 16px;
    color: #fff;
    text-align: center;
    display: inline-block;
    border-radius: 2px;
    font-size: 13px;
}

.btn-content-info {
    padding: 10px 0;
    text-align: center;
}

.close-icon {
    background: none;
    --background: transparent;
    --background-focused: transparent;
    color: #b31117;
    padding: 0;
    -webkit-margin-start: 0;
    margin-inline-start: 0;
    -webkit-margin-end: 0;
    margin-inline-end: 0;
    --padding-start: 0;
    --padding-end: 0;

}

.apply-coupon-section {
    padding: 20px;
    background: #fff;
    margin-bottom: 10px;
}

.apply-coupon-box {
    display: flex;
    align-items: center;
    height: 100%;
}


.offer-btn-box {
    text-align: right;
    padding: 10px 0;
}

.offer-btn {
    background: none;
    --background: transparent;
    --background-focused: transparent;
    color: #b31117;
    padding: 0;
    outline: none;

}

.checkout-btn {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    --border-radius: 2px;
    display: inline-block;
    margin: 0;
    height: auto;
    --padding-top: 15px;
    --padding-bottom: 15px;
    --padding-start: 30px;
    --padding-end: 30px;
    --background: #b31117;
    --background-activated: #b31117;
    width: 100%;
}

ion-footer.product-single-footer {
    background: #fff;
    padding: 10px 20px;
    -webkit-box-shadow: 0 -4px 12px 0 rgba(158, 169, 181, 0.55);
    box-shadow: 0 -4px 12px 0 rgba(158, 169, 181, 0.55);
}

.apply-coupon-btn {
    background: none;
    --background: transparent;
    --background-focused: transparent;
    color: #213051;
    padding: 0 0 0 10px;
    font-weight: 600;
    font-size: 14px;
    outline: none;

}

.apply-coupon-form {
    width: 100%;
}

.password-input {
    padding: 0;
    -webkit-margin-start: 0;
    margin-inline-start: 0;
    -webkit-margin-end: 0;
    margin-inline-end: 0;
    --padding-start: 0;
    --padding-end: 0;
}

.Apply-btn {
    background: #b31117;
    padding: 10px 16px;
    color: #fff;
    text-align: center;
    display: inline-block;
    border-radius: 2px;
    font-size: 13px;
    outline: none;
}

.btn-increment {
    background: #b31117;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    padding: 8px 10px;
    display: inline-block;
}

.quantity-span {
    display: inline-block;
    width: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

ion-icon.ion-icon-increment {
    font-size: 14px;
    color: white;
}

.input-form-control {
    font-size: 14px;
    font-weight: 500;
    color: #213051;
}

.cart-total-section {
    padding: 20px;
    background: #fff;
    margin-bottom: 0px;
}

.cart-total-section h2 {
    color: #b31117;
    font-size: 14px;
    font-weight: 600;
    margin-top: 0;
    padding-top: 0;
}

.cart-Subtotal-text {
    color: #213051;
    font-size: 13px;
    font-weight: 500;
}

.cart-Subtotal-value {
    color: #213051;
    font-size: 13px;
    font-weight: 500;
    text-align: right;
}

.cart-discount-text {
    color: #ff9800;
    font-size: 11px;
    font-weight: 500;
}

.cart-discount-value {
    color: #ff9800;
    font-size: 11px;
    font-weight: 500;
    text-align: right;
}

.cart-tax-text {
    color: #a0a7b5;
    font-size: 11px;
    font-weight: 500;
}

.cart-tax-value {
    color: #a0a7b5;
    font-size: 11px;
    font-weight: 500;
    text-align: right
}

.cart-shipping-text {
    color: #a0a7b5;
    font-size: 11px;
    font-weight: 500;
}

.cart-shipping-value {
    color: #a0a7b5;
    font-size: 11px;
    font-weight: 500;
    text-align: right
}

.grand-total {
    border-top: 1px solid #eee;
}

.cart-total-text {
    color: #213051;
    font-size: 16px;
    font-weight: bold;
}

.cart-total-value {
    color: #213051;
    font-size: 16px;
    font-weight: bold;
    text-align: right
}