<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title></ion-title>
    <ion-button (click)="close()" fill="clear" color="light">
      <ion-icon name="close" slot="start"></ion-icon>
      Back
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <!-- <ion-item class="close-fake" lines="none" text-center> -->
    
 
    <ion-button (click)="zoom(true)" fill="clear" color="light">
      <!-- <ion-icon name="add" slot="start"></ion-icon>
      in -->
    </ion-button>
 
    <ion-button (click)="zoom(false)" fill="clear" color="light">
      <!-- <ion-icon name="remove" slot="start"></ion-icon>
      out -->
    </ion-button>
  <!-- </ion-item> -->
 
  <ion-slides [options]="sliderOpts" #slider>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="{{apiUrl}}{{img}}">
      </div>
    </ion-slide>
  </ion-slides>
 
</ion-content>
