
:host {
.new-background-color {
    --background: #b31117;
}
.back-arrow {
    color: #fff;
  }
.class-search {
    --background: white;
}
.item-image{
    width: 15%;
    padding: 10px;
}

.header-icon {
    background: white;
    height: 30px;
    width: auto;
    position: relative;
    border-radius: 5px;
    margin-left: 20px;
  }
  
  .title-md {
    left: 0;
    top: 0;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: -.03em;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    pointer-events: none;
  }
.filters {

    ion-col {
        text-align: center;
        font-size: 20px;
        line-height: 20px;

        ion-icon {
            color: #ccc;
        }

        &.col-with-arrow {
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }
   
    p {
        color: black;
        margin: 0;
        font-size: 15px;
        line-height: 15px;
        --background: red;
    }

    .selected {
        font-weight: 10px;
    }
}
.header-title{color:#fff; text-align: center}

}