<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

 
<ion-content padding>
  <ion-label class="label">Sign Up</ion-label>
  <div class="text">
    <p>Welcome (Create Account. New to Eq8tor)</p>
  </div>

  <form [formGroup]="signUpForm" (ngSubmit)="onFormSubmit(signUpForm.value)">
    <div class="view-form">
      <ion-item class="user-input" lines="none">
        <ion-input class="username form-control" placeholder="Full Name" formControlName="user_display_name">
        </ion-input>
      </ion-item>
      <ion-item class="user-input" lines="none">
        <ion-input class="username form-control" placeholder="Username" formControlName="user_name">
        </ion-input>
      </ion-item>
      <ion-item class="user-input" lines="none">
        <ion-input class="username form-control" (keydown.space)="$event.preventDefault();" placeholder="Email Address"
          formControlName="email_id"
          pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})">
        </ion-input>
      </ion-item>
      <ion-item class="user-input" lines="none"> 
        <ion-input class="username form-control" (keydown.space)="$event.preventDefault();" placeholder="Password"
          formControlName="password">
        </ion-input>
      </ion-item>
      <ion-item class="password-input" lines="none">
        <ion-input class="password form-control" (keydown.space)="$event.preventDefault();" placeholder="Confirm Password"

          formControlName="password_confirmation"></ion-input>
        <!-- <button class="showBtn" [name]="passwordIcon" item-right (click)='hideShowPassword()'>{{passwordIcon}}</button> -->
      </ion-item>
    </div>
    <div class="text">
      <p>by signing up you accept the <a target="_blank" class="text-color" rel="noopener"
          href="https://ionicframework.com/docs/">Terms of Service and privacy policy</a>.</p>
    </div>
    <div>
      <ion-button class="sign-up" type="submit" expand="block" [disabled]="!signUpForm.valid">Sign Up</ion-button>
      <!-- <button ion-button class="forgot-password">Forgot Password?</button> -->
    </div>
  </form>
  <div class="text-last">
    <p style="color: darkgrey;font-weight: 500">Already have an account?<a style="color: black"
        [routerLink]="['/login']"> Sign In</a></p>
  </div>
</ion-content>