:host {
    ion-label.label {
        display: block;
        padding-top: 20px;
        margin-left: 0px;
        font-size: 20px;
        font-weight: 600
    }
    .item-interactive.item-has-focus {
        --highlight-background:transparent;
        height: auto;
   }       
    .text {
        margin-left: 0px;
        display: block;
        margin-top: -10px;
        color: darkgray;
        font-size: 13px;
        font-weight: 600
    }

    .text-last {
        text-align: center;
        margin-top: 80px;
        font-size: 15px;
    }

    .view-form {
        padding-top: 2%;
    }

    .sign-up {
        margin-left: 0px;
        margin-right: 0;
        --border-radius: 0px;
        margin-top: 0;
        margin-bottom: 0;
        height: 40px;
        --background: #b31117;
        color: white;
        font-weight: 600;
        --background-activated: var(--ion-color-shade, none);
    }

    ion-input.username {
        border: 0.5px solid gray;
    }

    ion-input.password {
        border: 0.5px solid gray;
    }

    .user-input,
    .password-input {
        --inner-border-width: 0px 0px 0px 0px;
    }

    .user-input .sc-ion-input-ios-h,
    .password-input .sc-ion-input-ios-h {
        --padding-start: 10px;
        --padding-end: 50px;
        margin-left: 0px;
        --inner-padding-end: 0px;
        font-weight: 600;
        font-size: small;
    }

    .user-input,
    .password-input {
        --inner-border-width: 0px 0px 0px 0px;
        margin-right: 0px;
        margin-bottom: 8px;
        --padding-start: 0px;
        --inner-padding-end: 0px;
        --border-color: #fff;
        --padding-end: 0;
    }
    .username,
    .password{--padding-start: 8px;}
    ion-item.submit-btn {
        --padding-start: 0;
        --inner-padding-end: 0;
    }

    .text-color {
        color: black;
    }
}