.new-background-color {
    --background:#025479;
    --padding-top: 4px;
    --padding-bottom: 4px;
    --padding-start: 4px;
    --padding-end: 4px;
    --min-height: 45px;
}

.header-title{
    color: #fff;
    text-align: center;
    // display: inline-block;
    // vertical-align: middle;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
}
.title-md{
    left: 0;
    top: 0;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: -.03em;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    pointer-events: none;
}
.logo.md{
    display: inline-block;
    vertical-align: middle;
}

.menu-item {
    --background: #003a54;
    border-bottom: 1px solid #1a5f80 !important;
}

.menu-item-title {
    color: white;
    font-weight: 500;
    font-size: 14px;
}

.menu-item-icon {
    color: white;
    height: 20px;
}

.menu-background {
    --background: #003a54;
}

.bottom-border {

    --background: #003a54;
}

.header-icon {
    background: white;
    height: 30px;
    width: auto;
    position: relative;
    border-radius: 5px;
    margin-left: 16px;
    float:left;
}
